<html>
  <head>
    <title>Document</title>
  </head>
  <body>
    <p>Hello {{parent_name}}</p>
    <p>
      Your child
      {{first_name}}'s username :
      {{username}}
      and password is
      {{password}}
    </p>
    <p>Please use this credentials and log in.</p>
  </body>
</html>